checkpoints/weights.01.hdf5
checkpoints/weights.02.hdf5
checkpoints/weights.03.hdf5
checkpoints/weights.04.hdf5
checkpoints/weights.05.hdf5
checkpoints/weights.06.hdf5
checkpoints/weights.07.hdf5
checkpoints/weights.08.hdf5
checkpoints/weights.09.hdf5
checkpoints/weights.10.hdf5
checkpoints/weights.11.hdf5
checkpoints/weights.12.hdf5
checkpoints/weights.13.hdf5
checkpoints/weights.14.hdf5
checkpoints/weights.15.hdf5
checkpoints/weights.16.hdf5
checkpoints/weights.17.hdf5
checkpoints/weights.18.hdf5
checkpoints/weights.19.hdf5
checkpoints/weights.20.hdf5
checkpoints/weights.21.hdf5
checkpoints/weights.22.hdf5
checkpoints/weights.23.hdf5
checkpoints/weights.24.hdf5
checkpoints/weights.25.hdf5
checkpoints/weights.26.hdf5
checkpoints/weights.27.hdf5
checkpoints/weights.28.hdf5
checkpoints/weights.29.hdf5
checkpoints/weights.30.hdf5
checkpoints/weights.31.hdf5
checkpoints/weights.32.hdf5
checkpoints/weights.33.hdf5
checkpoints/weights.34.hdf5
checkpoints/weights.35.hdf5
checkpoints/weights.36.hdf5
checkpoints/weights.37.hdf5
checkpoints/weights.38.hdf5
checkpoints/weights.39.hdf5
checkpoints/weights.40.hdf5
checkpoints/weights.41.hdf5
checkpoints/weights.42.hdf5
checkpoints/weights.43.hdf5
checkpoints/weights.44.hdf5
checkpoints/weights.45.hdf5
checkpoints/weights.46.hdf5
checkpoints/weights.47.hdf5
checkpoints/weights.48.hdf5
checkpoints/weights.49.hdf5
checkpoints/weights.50.hdf5
checkpoints/weights.51.hdf5
checkpoints/weights.52.hdf5
checkpoints/weights.53.hdf5
checkpoints/weights.54.hdf5
checkpoints/weights.55.hdf5
checkpoints/weights.56.hdf5
checkpoints/weights.57.hdf5
checkpoints/weights.58.hdf5
checkpoints/weights.59.hdf5
checkpoints/weights.60.hdf5
checkpoints/weights.61.hdf5
checkpoints/weights.62.hdf5
checkpoints/weights.63.hdf5
checkpoints/weights.64.hdf5
checkpoints/weights.65.hdf5
checkpoints/weights.66.hdf5
checkpoints/weights.67.hdf5
checkpoints/weights.68.hdf5
checkpoints/weights.69.hdf5
checkpoints/weights.70.hdf5
checkpoints/weights.71.hdf5
checkpoints/weights.72.hdf5
checkpoints/weights.73.hdf5
checkpoints/weights.74.hdf5
checkpoints/weights.75.hdf5
checkpoints/weights.76.hdf5
checkpoints/weights.77.hdf5
checkpoints/weights.78.hdf5
checkpoints/weights.79.hdf5
checkpoints/weights.80.hdf5
checkpoints/weights.81.hdf5
checkpoints/weights.82.hdf5
checkpoints/weights.83.hdf5
checkpoints/weights.84.hdf5
checkpoints/weights.85.hdf5
checkpoints/weights.86.hdf5
checkpoints/weights.87.hdf5
checkpoints/weights.88.hdf5
checkpoints/weights.89.hdf5
checkpoints/weights.90.hdf5
checkpoints/weights.91.hdf5
checkpoints/weights.92.hdf5
checkpoints/weights.93.hdf5
checkpoints/weights.94.hdf5
checkpoints/weights.95.hdf5
checkpoints/weights.96.hdf5
checkpoints/weights.97.hdf5
checkpoints/weights.98.hdf5
checkpoints/weights.99.hdf5
checkpoints/weights.100.hdf5
.ipynb_checkpoints/Support_Vector_Machine_Vs_Deep_Learning_Model-checkpoint.ipynb
.ipynb_checkpoints/Standardizing_data-checkpoint.ipynb
.ipynb_checkpoints/rebining_variables-checkpoint.ipynb
.ipynb_checkpoints/RandomForest_DeepLearning-checkpoint.ipynb
.ipynb_checkpoints/NN_practice-checkpoint.ipynb
.ipynb_checkpoints/DeepLearning_Tabular_checkpoints_export_import_model.-checkpoint.ipynb
.ipynb_checkpoints/Logistic_Regression_Vs_Basic_Neural_Network-checkpoint.ipynb
trained_attrition.h5
Support_Vector_Machine_Vs_Deep_Learning_Model.ipynb
Standardizing_data.ipynb
rebining_variables.ipynb
RandomForest_DeepLearning.ipynb
ramen-ratings.csv
NN_practice.ipynb
Logistic_Regression_Vs_Basic_Neural_Network.ipynb
loan_status.csv
HR-Employee-Attrition.csv
hr_dataset.csv
diabetes.csv
DeepLearning_Tabular_checkpoints_export_import_model..ipynb
bank_telemarketing.csv
challenge/.ipynb_checkpoints/AlphabetSoupChallenge-checkpoint.ipynb
